<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Sistema de Vendas</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1> Sistema de Vendas</h1>

        <p>
            Seu sistema profissional começou.
        </p>

        <a href="/nova-venda">
            <button>
                💰 Nova Venda
            </button>
        </a>

        <a href="/produtos">
            <button>
                📦 Estoque
            </button>
        </a>

    </div>

</body>
</html>