<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Nova Venda</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="layout">

    <!-- SIDEBAR (igual dashboard) -->
    <div class="sidebar">

        <h2>🛍️ Loja</h2>

        <ul>

            <li><a href="/dashboard">📊 Início</a></li>
            <li><a href="/produtos">📦 Produtos</a></li>
            <li><a href="/nova-venda">💰 Nova venda</a></li>
            <li><a href="/historico">🧾 Histórico</a></li>
            <li><a href="/caixa">💵 Caixa</a></li>
            <li><a href="/lucro">📈 Lucro</a></li>
            <li><a href="/relatorios">📊 Relatórios</a></li>
            <li><a href="/estoque">📦 Estoque</a></li>
            <li><a href="/gestao">⚙️ Gestão</a></li>

        </ul>

    </div>

    <!-- CONTEÚDO PRINCIPAL -->
    <div class="main">

        <h1>💰 Nova Venda</h1>

        <div class="box-venda">

            <select id="produto">

                {% for produto in produtos %}

                    <option value="{{ produto.preco }}">
                        {{ produto.nome }} - R$ {{ produto.preco }}
                    </option>

                {% endfor %}

            </select>

            <input
                type="number"
                id="quantidade"
                placeholder="Quantidade"
                value="1">

            <button onclick="adicionarProduto()">
                ➕ Adicionar
            </button>

        </div>

        <form
        id="form-venda"
        action="/salvar-venda"
        method="POST"
        onsubmit="return finalizarVenda(event)">

            <div class="carrinho">

                <h2>🛒 Carrinho</h2>

                <div id="lista-carrinho"></div>

                <input
                    type="hidden"
                    name="carrinho"
                    id="carrinho-input">

                <h3>💳 Pagamento</h3>

                <div
                    id="primeiro-pagamento-completo"
                    style="
                        display:flex;
                        gap:10px;
                        margin-top:10px;
                        align-items:center;
                    ">

                    <select id="pagamento1" name="pagamento1" required>

                        <option value="">Selecione</option>

                        <option value="Pix">Pix</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Débito">Débito</option>

                        <option value="Crédito 1x">Crédito 1x</option>
                        <option value="Crédito 2x">Crédito 2x</option>
                        <option value="Crédito 3x">Crédito 3x</option>
                        <option value="Crédito 4x">Crédito 4x</option>
                        <option value="Crédito 5x">Crédito 5x</option>
                        <option value="Crédito 6x">Crédito 6x</option>
                        <option value="Crédito 7x">Crédito 7x</option>
                        <option value="Crédito 8x">Crédito 8x</option>
                        <option value="Crédito 9x">Crédito 9x</option>
                        <option value="Crédito 10x">Crédito 10x</option>
                        <option value="Crédito 11x">Crédito 11x</option>
                        <option value="Crédito 12x">Crédito 12x</option>

                    </select>

                    <input
                        type="number"
                        step="0.01"
                        id="valor1"
                        name="valor1"
                        placeholder="Valor da primeira forma"
                        style="display:none;">

                </div>

                <button
                    type="button"
                    id="btn-segundo-pagamento"
                    onclick="mostrarSegundoPagamento()">

                    ➕ Adicionar segunda forma

                </button>

                <div
                    id="segundo-pagamento"
                    style="
                    display:none;
                    gap:10px;
                    margin-top:10px;
                    align-items:center;
                    ">

                    <select id="pagamento2" name="pagamento2">

                        <option value="">Selecione</option>

                        <option value="Pix">Pix</option>
                        <option value="Dinheiro">Dinheiro</option>
                        <option value="Débito">Débito</option>

                        <option value="Crédito 1x">Crédito 1x</option>
                        <option value="Crédito 2x">Crédito 2x</option>
                        <option value="Crédito 3x">Crédito 3x</option>
                        <option value="Crédito 4x">Crédito 4x</option>
                        <option value="Crédito 5x">Crédito 5x</option>
                        <option value="Crédito 6x">Crédito 6x</option>
                        <option value="Crédito 7x">Crédito 7x</option>
                        <option value="Crédito 8x">Crédito 8x</option>
                        <option value="Crédito 9x">Crédito 9x</option>
                        <option value="Crédito 10x">Crédito 10x</option>
                        <option value="Crédito 11x">Crédito 11x</option>
                        <option value="Crédito 12x">Crédito 12x</option>

                    </select>

                    <input
                        type="number"
                        step="0.01"
                        id="valor2"
                        name="valor2"
                        placeholder="Valor da segunda forma">

                </div>

                <h2 id="total">Total: R$ 0</h2>

                <button type="submit" id="btn-finalizar" disabled>
                    ✅ Finalizar Venda
                </button>

            </div>

        </form>

    </div>

</div>

<!-- POPUP SUCESSO -->

<div id="popup-sucesso" class="popup-sucesso">

    <div class="popup-box">

        <div class="check">
            ✅
        </div>

        <h2>
            Venda concluída!
        </h2>

        <p>
            Salvando venda no sistema...
        </p>

    </div>

</div>

<script>

const caixaAberto = {{ caixa_aberto|tojson }};

</script>

<script>

let total = 0;
let carrinho = [];

function adicionarProduto(){

    const produto = document.getElementById("produto");

    const nome = produto.options[produto.selectedIndex].text;
    const preco = parseFloat(produto.value);

    const quantidade = parseInt(
        document.getElementById("quantidade").value
    );

    const subtotal = preco * quantidade;

    total += subtotal;

    carrinho.push({
        nome,
        preco,
        quantidade,
        subtotal
    });

    atualizarCarrinho();

}

function removerItem(indice){
    carrinho.splice(indice, 1);
    atualizarCarrinho();
}

function atualizarCarrinho(){

    const lista = document.getElementById("lista-carrinho");
    lista.innerHTML = "";

    total = 0;

    carrinho.forEach((produto, index) => {

        total += produto.subtotal;

        const item = document.createElement("div");
        item.classList.add("item-carrinho");

        item.innerHTML = `
            <span>${produto.nome}</span>
            <span>${produto.quantidade}x</span>
            <strong>R$ ${produto.subtotal.toFixed(2)}</strong>

            <button onclick="removerItem(${index})">
                ❌
            </button>
        `;

        lista.appendChild(item);

    });

    document.getElementById("total").innerText =
        `Total: R$ ${total.toFixed(2)}`;

    document.getElementById("carrinho-input").value =
        JSON.stringify(carrinho);

    document.getElementById("btn-finalizar").disabled =
        carrinho.length === 0;

}


function finalizarVenda(event){

    event.preventDefault();

    if(!caixaAberto){

        alert(
            "❌ Abra o caixa antes de realizar uma venda."
        );

        return false;
    }

    if(carrinho.length === 0){

        alert("Adicione um produto!");

        return false;
    }

    const segundoPagamento =
    document.getElementById("segundo-pagamento");

    if(segundoPagamento.style.display === "flex"){

        const valor1 =
        parseFloat(
            document.getElementById("valor1").value || 0
        );

        const valor2 =
        parseFloat(
            document.getElementById("valor2").value || 0
        );

        const soma =
        valor1 + valor2;

        if(soma > total){

            alert(
                `Sobrou R$ ${(soma - total).toFixed(2)}`
            );

            return false;
        }

        if(soma < total){

            alert(
                `Falta R$ ${(total - soma).toFixed(2)}`
            );

            return false;
        }

    }

    const botao =
    document.getElementById("btn-finalizar");

    botao.disabled = true;

    botao.innerText = "⏳ Processando...";

    document
    .getElementById("popup-sucesso")
    .classList.add("mostrar-popup");

    setTimeout(() => {

        document
        .getElementById("form-venda")
        .submit();

    }, 1600);

    return false;
}

function mostrarSegundoPagamento(){

    document
    .getElementById("segundo-pagamento")
    .style.display = "flex";

    document
    .getElementById("valor1")
    .style.display = "block";

    document
    .getElementById("btn-segundo-pagamento")
    .innerText = "➖ Remover segunda forma";

    document
    .getElementById("btn-segundo-pagamento")
    .onclick = esconderSegundoPagamento;
}

function esconderSegundoPagamento(){

    document
    .getElementById("segundo-pagamento")
    .style.display = "none";

    document
    .getElementById("valor1")
    .style.display = "none";

    document
    .getElementById("valor1").value = "";

    document
    .getElementById("valor2").value = "";

    document
    .getElementById("pagamento2").value = "";

    document
    .getElementById("btn-segundo-pagamento")
    .innerText = "➕ Adicionar segunda forma";

    document
    .getElementById("btn-segundo-pagamento")
    .onclick = mostrarSegundoPagamento;
}

document
.getElementById("form-venda")
.addEventListener("submit", function(e){

    const segundoPagamento =
    document.getElementById("segundo-pagamento");

    if(segundoPagamento.style.display === "flex"){

        const valor1 =
        parseFloat(
            document.getElementById("valor1").value || 0
        );

        const valor2 =
        parseFloat(
            document.getElementById("valor2").value || 0
        );

        const soma = valor1 + valor2;

        if(soma !== total){

            alert(
                `Os pagamentos somam R$ ${soma.toFixed(2)} e o total da venda é R$ ${total.toFixed(2)}`
            );

            e.preventDefault();
            return false;
        }

    }

});

</script>

</body>
</html>