<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <title>Gráficos</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<div class="layout">

    <div class="sidebar">

        <h2>🛍️ Loja</h2>

        <ul>

            <li><a href="/dashboard">📊 Início</a></li>
            <li><a href="/produtos">📦 Produtos</a></li>
            <li><a href="/nova-venda">💰 Nova venda</a></li>
            <li><a href="/historico">🧾 Histórico</a></li>
            <li><a href="/caixa">💵 Caixa</a></li>
            <li><a href="/lucro">📈 Lucro</a></li>
            <li><a href="/relatorios">📊 Relatórios</a></li>
            <li><a href="/estoque">📦 Estoque</a></li>
            <li><a href="/gestao">⚙️ Gestão</a></li>

        </ul>

    </div>

    <div class="main">


        <div class="topo-pagina">

            <h1>📈 Painel de Gráficos</h1>

            <a href="/relatorios" class="btn-voltar">
                ← Relatórios
            </a>

        </div>

        <div class="banner-relatorio">

            <h2>
                Visão Geral dos Recebimentos
            </h2>

            <p>
                Acompanhe o desempenho financeiro da loja.
            </p>

        </div>

        <div class="cards">

            <div class="card-financeiro card-total">

                <h3>
                    💰 Total Recebido
                </h3>

                <p class="valor-card">
                    R$ {{ pix + dinheiro + cartao }}
                </p>

            </div>

            <div class="card-financeiro card-pix">

                <h3>
                    💳 PIX
                </h3>

                <p class="valor-card">
                    R$ {{ pix }}
                </p>

            </div>

            <div class="card-financeiro card-dinheiro">

                <h3>
                    💵 Dinheiro
                </h3>

                <p class="valor-card">
                    R$ {{ dinheiro }}
                </p>

            </div>

            <div class="card-financeiro card-cartao">

                <h3>
                    🏦 Cartão
                </h3>

                <p class="valor-card">
                    R$ {{ cartao }}
                </p>

            </div>

        </div>

        
        <div class="card" id="grafico-vendas">

            <h2>
                📈 Evolução das Vendas
            </h2>

            <div class="filtros-relatorio">

                <a href="/relatorio-graficos?filtro=semana#grafico-vendas">
                    <button>📅 Semana</button>
                </a>

                <a href="/relatorio-graficos?filtro=mes#grafico-vendas">
                    <button>📆 Mês</button>
                </a>

                <a href="/relatorio-graficos?filtro=ano#grafico-vendas">
                    <button>📊 Ano</button>
                </a>

            </div>

            <br>

                <canvas id="graficoLinha"></canvas>

            </div>

            <br>

            <div class="card">

                <h2>
                    📅 Vendas por Dia da Semana
                </h2>

                <canvas id="graficoSemana"></canvas>

            </div>

            <br>

        <div class="card">

            <h2>
                🥧 Distribuição dos Recebimentos
            </h2>

            <div class="grafico-pizza-container">

                <canvas id="graficoPizza"></canvas>

            </div>

        </div>

    </div>

</div>

<script>

const dados = [

    {{ pix }},
    {{ dinheiro }},
    {{ cartao }}

];


new Chart(

    document.getElementById(
        "graficoPizza"
    ),

    {

        type: "pie",

        data: {

            labels: [

                "PIX",
                "Dinheiro",
                "Cartão"

            ],

            datasets: [{

                data: dados

            }]
        },
        options: {

            plugins: {

                legend: {

                    labels: {

                        font: {

                            size: 18

                        }

                    }

                }

            }

        }

    }

);

const ctxLinha =
document.getElementById(
    "graficoLinha"
);

new Chart(ctxLinha, {

    type: "line",

options: {

    responsive: true,

    plugins: {

        legend: {

            labels: {

                font: {

                    size: 16

                }

            }

        }

    }

},

    data: {

        labels: {{ datas|tojson }},

        datasets: [{

            label: "Total Vendido",

            data: {{ valores|tojson }},

            tension: 0.3,

            fill: false

        }]
    }
});

new Chart(

    document.getElementById(
        "graficoSemana"
    ),

    {

        type: "bar",

        data: {

            labels:
            {{ dias_semana|tojson }},

            datasets: [{

                label:
                "Total Vendido",

                data:
                {{ valores_semana|tojson }}

            }]
        }
    }

);


</script>

</body>
</html>