<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">

    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">

    <title>Trocar Item</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

    <h1>
        🔁 Troca de Item
    </h1>

    <h3>
        Produto atual:
        {{ item.produto }}
    </h3>

    <p>
        Quantidade atual:
        {{ item.quantidade }}
    </p>

    <p>
        Valor atual:
        R$ {{ item.subtotal }}
    </p>

    <form
    action="/confirmar-troca-item/{{ venda.id }}/{{ indice_item }}"
    method="POST"

    onsubmit="return confirm('Confirmar troca deste item?')">

        <label>

            Novo produto

        </label>

        <select name="produto" required>

            {% for produto in produtos %}

                <option value="{{ produto.id }}">

                    {{ produto.nome }}
                    -
                    R$ {{ produto.preco }}

                </option>

            {% endfor %}

        </select>

        <br><br>

        <label>

            Nova quantidade

        </label>

        <input
        type="number"
        name="quantidade"
        min="1"
        value="{{ item.quantidade }}"
        required>

        <br><br>

        <button type="submit">

            ✅ Confirmar Troca

        </button>

    </form>

    <br>

    <a href="/historico">

        <button>

            ⬅ Voltar

        </button>

    </a>

</div>

</body>
</html>

