<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">

    <title>Troca realizada</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="sucesso-container">

    <div class="card-sucesso">

        <h1>
            ✅ Troca realizada!
        </h1>

        {% if diferenca > 0 %}

            <div class="resultado-troca resultado-pagar">

                Cliente deve pagar:
                R$ {{ diferenca }}

            </div>

        {% elif diferenca < 0 %}

            <div class="resultado-troca resultado-credito">

                🎁 Crédito restante:
                R$ {{ diferenca * -1 }}

            </div>

            <p class="texto-credito">

                O cliente pode utilizar esse valor
                em outra compra futuramente.

            </p>

        {% else %}

            <div class="resultado-troca resultado-neutro">

                🔄 Troca sem diferença de valor

            </div>

        {% endif %}

        <a href="/historico">

            <button>
                ⬅ Voltar ao histórico
            </button>

        </a>

    </div>

</div>

</body>
</html>