<!DOCTYPE html>
<html lang="pt-br">
<head>

    <meta charset="UTF-8">

    <title>Troca</title>

    <link rel="stylesheet"
    href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="troca-container">

    <div class="card-troca">

        <h1>
            🔁 Troca de Produto
        </h1>

        <div class="info-troca">

            <h3>
                📦 {{ venda.produto }}
            </h3>

            <p>
                Quantidade atual:
                <strong>{{ venda.quantidade }}</strong>
            </p>

            <p>
                Valor antigo:
                <strong>R$ {{ venda.total }}</strong>
            </p>

        </div>

        <form
        class="form-troca"
        action="/confirmar-troca/{{ venda.id }}"
        method="POST"
        onsubmit="return confirm('Confirmar troca?')">

            <label>
                Novo produto
            </label>

            <select name="produto" required>

                {% for produto in produtos %}

                    <option value="{{ produto.id }}">

                        {{ produto.nome }}
                        - R$ {{ produto.preco }}

                    </option>

                {% endfor %}

            </select>

            <label>
                Nova quantidade
            </label>

            <input
            type="number"
            name="quantidade"
            min="1"
            value="{{ venda.quantidade }}"
            required>

            <label>
                Forma de pagamento
            </label>

            <select name="pagamento" required>

                <option value="Pix">Pix</option>
                <option value="Dinheiro">Dinheiro</option>
                <option value="Débito">Débito</option>
                <option value="Crédito">Crédito</option>

            </select>

            <button type="submit">

                ✅ Confirmar Troca

            </button>

        </form>

    </div>

</div>

</body>
</html>